node_modules
dist
build
coverage
.turbo
.cache
*.log
.env
.env.local
.env.*.local
*.tsbuildinfo
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
apps/web/dist
prisma/*.db
docker-data
.pnpm-store
packages/core/generated
.data
